:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%); 
    --mainFont: 'Outfit', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globals */
body {
    background-color: var(--lightGray);
    font-family: var(--mainFont);
}
h1 {
    font-size: 2.1rem;
    color: var(--darkBlue);
    text-align: center;
    font-weight: bold;
    margin: 2rem;
    line-height: 1.3;

}
p {
    font-size: 1.5rem;
    color: var(--lightGray);
    font-weight: normal;
    text-align: center;
    margin: auto 1.8rem;
}
img {
    width: 100%;
}
/* QR Card */
.container {
    margin: 0 auto;
    width: 100%; /* 375px */
    height: 66.7rem; /* 667px */
    display: grid;
    justify-items:center;
    align-items: center;
}
@media (min-width: 375px) {
    .container {
        width: 100%;
        height: 90rem;
    }
}
.card {
    background-color: var(--white);
    width: 32rem;
    height: 50rem;
    padding: 2rem;
    border-radius: 1.5rem;

}
.qr-code {
    width: 28rem;
    margin: 0 auto;
}
.qr-code img {
    border-radius: 1rem;
}